[Unit]
Description=crypto-alarm for tracking large price changes
DefaultDependencies=no
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/python3 /opt/crypto-alarm/crypto-alarm.py -c bitcoin,ethereum,crypto-com-chain,harvest-finance -s 1000,100,0.01,10
TimeoutStartSec=0
RemainAfterExit=yes
WorkingDirectory=/opt/crypto-alarm
Restart=always
RestartSec=30s

[Install]
WantedBy=default.target